PRAJWAL PRAVIN WAYKOS -- 272063

## Classification using Naive bayes
Guidelines for Prevention and Control of Coronavirus Disease (COVID-19).

In [12]:
import pandas as pd
dataset = pd.read_csv("E:\\DATA SETS\\Surveillance.csv")

In [13]:
print(dataset)

    A01  A02  A03  A04  A05  A06  A07 Categories
0     1    1    1    1    1    0    0        PUS
1     1    1    0    1    1    0    0        PUS
2     1    1    1    1    0    1    0        PUS
3     1    1    0    1    0    1    0        PUS
4     1    0    0    0    0    0    1        PUS
5     1    1    1    0    0    0    1        PUS
6     1    1    0    0    0    0    1        PUS
7     1    1    1    1    0    0    0        PUS
8     1    0    0    1    1    0    0        PIM
9     0    1    0    1    1    0    0        PIM
10    1    0    0    1    0    1    0        PIM
11    0    1    0    1    0    1    0        PIM
12    0    1    0    0    0    0    1        PIM
13    0    0    0    0    0    0    1        PWS

## There are 7 features , using these we have to predict the category in which a certain case fall

In [14]:
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,-1]

In [15]:
X

    A01  A02  A03  A04  A05  A06  A07
0     1    1    1    1    1    0    0
1     1    1    0    1    1    0    0
2     1    1    1    1    0    1    0
3     1    1    0    1    0    1    0
4     1    0    0    0    0    0    1
5     1    1    1    0    0    0    1
6     1    1    0    0    0    0    1
7     1    1    1    1    0    0    0
8     1    0    0    1    1    0    0
9     0    1    0    1    1    0    0
10    1    0    0    1    0    1    0
11    0    1    0    1    0    1    0
12    0    1    0    0    0    0    1
13    0    0    0    0    0    0    1

In [16]:
Y

0     PUS
1     PUS
2     PUS
3     PUS
4     PUS
5     PUS
6     PUS
7     PUS
8     PIM
9     PIM
10    PIM
11    PIM
12    PIM
13    PWS
Name: Categories, dtype: object

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2)

In [18]:
print("____________X_train__________")
print(X_train)
print("____________X_test____________")
print(X_test)
print("____________Y_train____________")
print(Y_train)
print("____________Y_test____________")
print(Y_test)

____________X_train__________
    A01  A02  A03  A04  A05  A06  A07
5     1    1    1    0    0    0    1
1     1    1    0    1    1    0    0
13    0    0    0    0    0    0    1
7     1    1    1    1    0    0    0
9     0    1    0    1    1    0    0
11    0    1    0    1    0    1    0
8     1    0    0    1    1    0    0
12    0    1    0    0    0    0    1
3     1    1    0    1    0    1    0
6     1    1    0    0    0    0    1
4     1    0    0    0    0    0    1
____________X_test____________
    A01  A02  A03  A04  A05  A06  A07
2     1    1    1    1    0    1    0
10    1    0    0    1    0    1    0
0     1    1    1    1    1    0    0
____________Y_train____________
5     PUS
1     PUS
13    PWS
7     PUS
9     PIM
11    PIM
8     PIM
12    PIM
3     PUS
6     PUS
4     PUS
Name: Categories, dtype: object
____________Y_test____________
2     PUS
10    PIM
0     PUS
Name: Categories, dtype: object

In [19]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)

In [20]:
print("___________________original values_________")
print(Y_test)
print("_________________Predicted values_____________")
print(y_pred)

___________________original values_________
2     PUS
10    PIM
0     PUS
Name: Categories, dtype: object
_________________Predicted values_____________
['PUS' 'PIM' 'PUS']

In [21]:
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score

accuracy = accuracy_score(Y_test, y_pred)
# f1 = f1_score(Y_test, y_pred)
cm = confusion_matrix(Y_test, y_pred)

In [22]:
print("___________Accuracy is________________")
print(accuracy)
print("___________Confusion matrix_______")
print(cm)

___________Accuracy is________________
1.0
___________Confusion matrix_______
[[1 0]
 [0 2]]


    N P
N   1 0
P   0 2